<body class="page-catalog dm-dark">
<div class="page-wrapper">
  <%= render 'shared/header-home'%>
  <main class="page-main">
    <div class="page-content">
      <div class="uk-margin-large-top uk-container uk-container-small">
        <div class="page-cart__list">
          <div class="product__header">
            <h5 class="product__title">NAME</h5>
            <h5 class="product__price">PRICE</h5>
            <h5 class="product__quantity">QUANTITY</h5>
            <h5 class="product__total">TOTAL</h5>
          </div>
        </div>
        <%= image_tag("pages/cart/img-cart.png", :alt => "empty-cart", class: "page-cart__img") %>
      <div class="page-cart__box">
        <div class="page-cart__title">Your cart is currently empty.</div><a id="page-cart__control-btn" class="uk-button" href=<%=pages_path%>>RETURN TO SHOP</a>
      </div>

      </div>
    </div>
  </main>
  <%= render 'shared/footer-home'%>
</div>
</body>